/* Q&A Section Styles */
body {
    margin: 0;
}

header, main, footer {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

header {
    width: 100%;
    display: flex;
    height: 72px;
    justify-content: space-between;
    background-color: #FFE6E6;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin: 10px;
}

header a {
    font-size: 28px;
    margin: 10px;
    text-decoration: none;
    color: #7469B6;
    display: flex;
    align-items: center;
}

main {
    display: block;
}

h1{
    padding-top: 50px;
    margin-bottom: 1.5rem;
    font-size: 32px;
    color: #1B1B1B;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.search_q {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.ask {
    text-align: center;
    margin-bottom: 1.5rem;
}

.ask a {
    text-decoration: none;
    color: black;
}

.search button, .ask button {
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    background-color: rgba(225, 175, 209, 0.2);
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.card-text {
    margin: 15px;
}

.card-text li {
    margin-bottom: 10px;
}

.reply {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.reply a {
    text-decoration: none;
    color: #7469B6;
}

.text_input {
    padding: 12px;
}

textarea {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
    padding: 12px 20px;
    background-color: #f8f8f8;
    font-size: 16px;
  }

input[type=submit], .cancel {
    margin-top: 15px;
    width: 150px;
    text-align: center;
    background-color: #E1AFD1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}

input[type=submit]:hover, .cancel:hover {
    background-color: #7469B6;
}

.cancel a {
    text-decoration: none;
    color: white;
}

footer {
    padding-top: 12px;
    color: #7469B6;
    background-color: rgba(225, 175, 209, 0.2);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #7469B6;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

.login_input {
    padding-top: 30px;
    padding-left: 450px;
    padding-right: 450px;
}

input.login {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

button.login {
    margin-top: 50px;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login_input a {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: grey;
    text-align: center;
}

/* coursedetail's css */
header, main, footer {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

header {
    width: 100%;
    display: flex;
    height: 72px;
    justify-content: space-between;
    background-color: #FFE6E6;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin: 10px;
}

header a {
    font-size: 28px;
    margin: 10px;
    text-decoration: none;
    color: #7469B6;
    display: flex;
    align-items: center;
}

#searchBox {
  height: 48px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  flex-grow: 1;
  font-size: 16px;
  border-radius: 15px;
}

#search-container {
  display: flex;
  align-items: center;
}

body {
    font-family: 'Arial', Helvetica, sans-serif;
}

.coursedetail-main {
  padding: 20px;
}

.info-list li:first-child {
  margin-bottom: 30px;
}

.info-box h1 {
  margin-bottom: 0;
}

.info-list li:not(:first-child) {
  margin-top: 10px;
}

.coursedetail-link {
  color: #0000EE;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.statistics {
  float: right;
  width: auto;
  position: relative;
  top: -90px;
}

.info-box, .course-introduction-box, .evaluate-box, .question-box {
  background-color: #FBF0FF;
  margin-bottom: 20px;
  padding: 20px;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.evaluation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.evaluate-box, .question-box {
  width: 45%;
}

.coursedetail-image {
  vertical-align: middle;
  margin-right: 5px;
}

.link-icon {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

.link-text {
  vertical-align: middle;
  padding-bottom: 2px;
}

@media (max-width: 960px) {
  .evaluation-container {
      display: flex;
      flex-direction: column;
  }
  .evaluate-box, .question-box {
      width: 100%;
      box-sizing: border-box;
  }
}

.background-only-box {
  height: 300px;
  width: 100%;
  width: 100%;
  background-image: url('../img/picture1.png');
  background-size: cover;
  background-position: center;
}
@media (min-width: 960px) {
  .background-only-box {
      height: calc(100vh - 100px);
  }
}

progress {
    background-color: #e6e6e6;
}

progress::-webkit-progress-value {
    background-color: rgb(115, 0, 255);
}