/*General Styles*/
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

header {
    width: 100%;
    display: flex;
    height: 72px;
    background-color: #FFE6E6;
    align-items: center;
}

header .logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin: 10px;
}

header .search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header .search-container img {
    height: 40px;
}

header .login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .login img {
    height: 30px;
    margin: 10px;
}

header a {
    font-size: 28px;
    margin: 10px;
    text-decoration: none;
    color: #4835B6;
    display: flex;
    align-items: center;
}

@media (max-width: 598px) {
    .logo span, .search-container img, header .login span {
        display: none;
    }
}

@media (max-width: 1330px) {
    .logo span {
        display: none;
    }
}


h1{
    padding-top: 50px;
    margin-bottom: 1.5rem;
    font-size: 32px;
    color: #1B1B1B;
    text-align: center;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.search_q {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.rate {
    background-image: url('..\img\uw.jpg');
}

.ask, .rate {
    text-align: center;
    margin-bottom: 1.5rem;
}

.ask a, .rate a{
    text-decoration: none;
    color: black;
}

.search button, .ask button, .rate button, button.back {
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    background-color: rgba(225, 175, 209, 0.2);
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.card-text {
    margin: 15px;
}

.card-text li {
    margin-bottom: 10px;
}

.reply {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.reply a {
    text-decoration: none;
    color: #4835B6;
}

.text_input {
    padding: 12px;
}

textarea {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    height: 150px;
    padding: 12px 20px;
    background-color: #f8f8f8;
    font-size: 16px;
  }

input[type=submit], .cancel {
    margin-top: 15px;
    width: 150px;
    text-align: center;
    background-color: #E1AFD1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 15px;
}

input[type=submit]:hover, .cancel:hover {
    background-color: #4835B6;
}

.cancel a {
    text-decoration: none;
    color: white;
}

footer {
    padding-top: 12px;
    color: #4835B6;
    background-color: rgba(225, 175, 209, 0.2);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #4835B6;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

.login_input {
    padding-top: 30px;
    padding-left: 450px;
    padding-right: 450px;
}

input.login {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.2);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

button.login {
    margin-top: 50px;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.login_input a {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: grey;
    text-align: center;
}

.wrapper {
    padding: 15px;
}

.ratingBoxContainer {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border-style: solid;
    background-color: rgba(225, 175, 209, 0.2);
    border-color: #dadada;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.ratingBox {
    display: flex;
    flex-direction: row;
    height: 2vh;
    margin: auto;
    font-size: 15px;
}

.rating {
    margin-left: .5vw;
}


/*index(main page)*/

a {
    text-decoration: none;
}

.main_page {
    font-family: "Titillium Web", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.main_page .tabs {
    width: 100%;
    text-align: left;
    margin: 10px 20px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
}

.courses .course_card {
    width: 340px;
    background-color: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.courses .course_background {
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    border-radius: 4px;
}

.course_background .course_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.course_background .course_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;
    font-weight: bold;
    text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.6);
    font-size: 32px;
}

.simple_description .course-name {
    margin: 25px 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px
}

.simple_description .description-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    font-size: 12px;
}

.description-tags .tag_RSN {
    background-color: #ad7589;
    color: #ffffff;
}

.description-tags .tag_credit {
    background-color: #e08ec9;
    color: #ffffff;
}

.description-tags .tag_RSN, .tag_credit {
    margin: 5px;
    flex-basis: 16%;
    text-align: center;
    border-radius: 15px;
}


/* coursedetail's css */



.course-detail-main {
  padding: 20px;
}

.course-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-list li:first-child {
  margin-bottom: 30px;
}

.info-list li:not(:first-child) {
  margin-top: 10px;
}

.coursedetail-link {
  color: #4835B6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.statistics {
    align-self: flex-end;
}

.info-box, .course-introduction-box, .evaluate-box, .question-box {
  background-color: #FBF0FF;
  margin-bottom: 20px;
  padding: 20px;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.evaluation-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.evaluate-box, .question-box {
  width: 45%;
}

.coursedetail-image {
  vertical-align: middle;
  margin-right: 5px;
}

.link-icon {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

.link-text {
  vertical-align: middle;
  padding-bottom: 2px;
}

@media (max-width: 960px) {
  .evaluation-container {
      display: flex;
      flex-direction: column;
  }
  .evaluate-box, .question-box {
      width: 100%;
      box-sizing: border-box;
  }
}

.background-only-box {
  height: 300px;
  width: 100%;
  width: 100%;
  background-image: url('../img/picture1.png');
  background-size: cover;
  background-position: center;
}
@media (min-width: 960px) {
  .background-only-box {
      height: calc(100vh - 100px);
  }
}

progress {
    background-color: #e6e6e6;
}

progress::-webkit-progress-value {
    background-color: rgb(115, 0, 255);
}
