button, .back {
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 5px;
    border-style: outset;
}

button:hover, .back:hover {
    background-color: rgba(72, 53, 182, 0.4);
}

.course-detail-main {
    padding: 20px;
}

.course-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-list li:first-child {
    margin-bottom: 30px;
}

.info-list li:not(:first-child) {
    margin-top: 10px;
}

.statistics {
    align-self: flex-end;
}

.stat-wrapper {
    display: flex;
    align-items: center;
}

.stat-wrapper label {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 15px;
}

.stat-wrapper span {
    padding-left: 10px;
}

.info-box, .course-introduction-box, .evaluate-box, .question-box {
    background-color: #FBF0FF;
    margin-bottom: 20px;
    padding: 20px;
}

.info-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.evaluation-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.evaluate-box, .question-box {
    width: 100%;
}

.coursedetail-image {
    vertical-align: middle;
    margin-right: 5px;
}

.evaluate-box h2:hover, .question-box h2:hover {
    text-decoration: underline;
    text-decoration-color: #4835B6;
}

.link-icon {
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.link-text {
    vertical-align: middle;
    padding-bottom: 2px;
}

.course-detail-page .background-only-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .course-detail-page .background-only-box img {
    width: 100%;
    height: auto;
  }
  
  
  .course-detail-page footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #f0f0f0; 
    position: relative;
    bottom: 0;
    left: 0;
    clear: both; 
  }

progress {
    background-color: #e6e6e6;
}

progress::-webkit-progress-value {
    background-color: rgb(115, 0, 255);
}

.link-text:hover {
    text-decoration: underline;
}

@media (min-width: 960px) {
    .background-only-box {
        height: calc(100vh - 100px);
    }

    body {
        font-weight: 700;
        height: 92px;
    }

    h1 {
        font-size:40px;
        font-weight: 600;
    }

    .course-info {
        flex-direction: row;
    }

    .evaluation-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .evaluate-box, .question-box {
        width: 45%;
    }

    .background-only-box {
        height: calc(100vh - 100px);
    }
}

@media (min-width: 1330px) {
    .logo span {
        display: flex;
    }

    .logo span:hover {
        text-decoration: underline;
    }
}

.evaluation-container {
    flex-direction: column;
    justify-content: center;
}
.evaluate-box, .question-box {
    width: 100%; 
}

@media only screen 
    and (device-width: 414px) 
    and (device-height: 672px) 
    and (-webkit-device-pixel-ratio: 3) {
    .tips-save {bottom: 20px;}
}


@media (min-width: 960px) {
    .evaluation-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .evaluate-box, .question-box {
        width: 45%; 
    }
}




