/* Button and back link styles */
button, .back {
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 5px;
    border-style: outset;
}

/* Course detail main container */
.course-detail-main {
    padding: 20px;
}

/* Course info section */
.course-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Info list item styles */
.info-list li:first-child {
    margin-bottom: 30px;
}

.info-list li:not(:first-child) {
    margin-top: 10px;
}

/* Statistics section styles */
.statistics {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
    height: auto; 
    justify-content: center; 
}

/* Wrapper for individual statistics */
.stat-wrapper {
    display: flex;
    align-items: center;
}

/* Responsive container for bar chart */
.responsive-container {
    width: 100%;
    height: 300px; 
}

/* Average score text styling */
.average-score {
    padding-top: 10px; 
    text-align: center; 
}

/* General box styles for different sections */
.info-box, .course-introduction-box, .evaluate-box, .question-box {
    background-color: #FBF0FF;
    margin-bottom: 20px;
    padding: 20px;
}

/* Styles for the info list */
.info-list {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

/* Evaluation container styles */
.evaluation-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Styles for evaluation and question boxes */
.evaluate-box, .question-box {
    width: 100%;
}

/* Image styles within the course detail */
.coursedetail-image {
    vertical-align: middle;
    margin-right: 5px;
}

/* Hover effects for evaluation and question headings */
.evaluate-box h2:hover, .question-box h2:hover {
    text-decoration: underline;
    text-decoration-color: #4835B6;
}

/* Link icon styles */
.link-icon {
    width: 16px;
    height: auto;
    vertical-align: middle;
}

/* Link text styles */
.link-text {
    vertical-align: middle;
    padding-bottom: 2px;
}

/* Styles for background-only box */
.course-detail-page .background-only-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }

.course-detail-page .background-only-box img {
    width: 100%;
    height: auto;
}

/* Progress bar value color */
progress::-webkit-progress-value {
    background-color: rgb(115, 0, 255);
}

/* Hover effect for link text */
.link-text:hover {
    text-decoration: underline;
}

/* Media queries for different screen sizes */
@media (min-width: 960px) {
    .background-only-box {
        height: calc(100vh - 100px);
    }

    body {
        font-weight: 700;
        height: 92px;
    }

    h1 {
        font-size:40px;
        font-weight: 600;
    }

    .course-info {
        flex-direction: row;
    }

    .evaluation-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .evaluate-box, .question-box {
        width: 45%;
    }

    .background-only-box {
        height: calc(100vh - 100px);
    }
}

@media (min-width: 1330px) {
    .logo span {
        display: flex;
    }

    .logo span:hover {
        text-decoration: underline;
    }
}

.evaluation-container {
    flex-direction: column;
    justify-content: center;
}
.evaluate-box, .question-box {
    width: 100%;
}

@media only screen
    and (device-width: 414px)
    and (device-height: 672px)
    and (-webkit-device-pixel-ratio: 3) {
    .tips-save {bottom: 20px;}
}


@media (min-width: 960px) {
    .evaluation-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .evaluate-box, .question-box {
        width: 45%;
    }
}
