/* Evaluations Page and Submit Evaluation Page General Styling */
.rate {
    background-image: url('../img/pink-banner.jpg');
    background-size: cover;
}

.rate-wrap {
    padding: 20px;
    margin-bottom: 1.5rem;
}

.rate h1, .rateForm {
    text-align: center;
    margin-bottom: 1.5rem;
}

.back {
    margin-left: 12px;
    margin-left: 0;
}

/* Filter Evaluation Styling */
.filter-group {
    display: flex;
    justify-content: space-between;
}

.filter-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size:10px;
}

/* Evaluation Cards Styling  */
.evaluationTable {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-title {
    background-color: rgba(225, 175, 209, 0.2);
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.card-text {
    margin: 15px;
}

.card-text li {
    margin-bottom: 10px;
}

.wrapper {
    padding: 15px;
}

.ratingBoxContainer {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    border-style: solid;
    background-color: rgba(225, 175, 209, 0.2);
    border-color: #dadada;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.ratingBox {
    display: flex;
    flex-direction: row;
    height: 2vh;
    margin: auto;
    font-size: 12px;
}

.rating {
    margin-left: .5vw;
}

/* Submit Evaluation Form Styling */
.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px 30px;
}

.input-fields label {
    margin-bottom: 5px;
}

.comments textarea {
    width: 100%;
    box-sizing: border-box;
}

.input-fields input,
.input-fields select,
.input-fields textarea {
    width: 100%;
    box-sizing: border-box;
}

.eval-back {
    margin-left: 300px;
}

/* Evaluation Page and Submit Evaluation Page Media Styles */
@media (min-width: 500px) {
    .ratingBox {
        font-size: 15px;
    }

    .filter-input {
        font-size:15px;
    }
}

@media screen and (min-width: 768px) {
    .input-fields {
        flex-direction: row;
        align-items: center;
        padding-left: 20%;
        padding-right: 20%;
    }

    .input-fields label {
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        padding-right: 10px;
        margin-bottom: 0;
    }

    .input-fields input,
    .input-fields select,
    .input-fields textarea {
        width: 300px;
    }
}