/* General Styles */
* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
    width: 100%;
}

/* Header Styles */
header {
    width: 100%;
    display: flex;
    height: 72px;
    background-color: #FFE6E6;
    align-items: center;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #4835B6;
}

/* Header Component Styles */
.logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo span {
    display: none;
}

.logo img, .search-container img {
    height: 40px
}

.logo img, .login img {
    margin: 10px;
}

.search-container img {
    display: none;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-left: 1px;
    padding-left: 2px;
}

.login {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login img {
    height: 30px;
}

.login span {
    display: none;
}

header a {
    font-size: 28px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.search_bar {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}

/* Main Styles */
main {
    align-items: center;
    margin-top: 20px;
}

h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 32px;
    color: #1B1B1B;
    text-align: center;
}

/* Footer Styles */
footer {
    padding-top: 12px;
    color: #4835B6;
    background-color: rgba(225, 175, 209, 0.2);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

/* Button Styles */
button{
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 5px 20px;
    font-size: 18px;
    border-radius: 5px;
}

button:hover, .back:hover {
    background-color: rgba(72, 53, 182, 0.4);
}

/* Input Styles */
.text_input {
    padding: 12px;
}

textarea {
    width: 96%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    height: 100PX;
    padding: 12px 15px;
    background-color: #f8f8f8;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
}

/* General Media Styles */
@media (min-width: 1330px) {
    .logo span {
        display: flex;
    }

    .logo span:hover {
        text-decoration: underline;
    }
}

@media (min-width: 598px) {
    .search-container img, header .login span {
        display: flex;
    }

    .login span:hover {
        text-decoration: underline;
    }

    .background-only-box {
        display: block;
    }
}