/* Heading Styles */
.signup-main, .login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input Styles */
.login_input {
    padding-top: 30px;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form {
    width: 100%;
}

input.login {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.2);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 8px;
    font-size: 16px;
}

/* Button Styles */
button.login-btn {
    margin-top: 40px;
    width: 100%;
    background-color: rgba(173, 136, 198, 0.4);
    color: #080710;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 5px;
}

button.login-btn:hover {
    background-color: rgba(72, 53, 182, 0.4);
}

/* Link Styles */
.login_input a {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: grey;
    text-align: center;
}


