.ask{
    text-align: center;
    margin-bottom: 1.5rem;
}

.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.card-title {
    background-color: rgba(225, 175, 209, 0.2);
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

.card-text {
    margin: 15px;
}

.card-text li {
    margin-bottom: 10px;
}

.search {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    justify-content: center;
}

.search_q {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
}

.text_input {
    padding: 12px;
}

textarea {
    width: 96%;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    height: 100PX;
    padding: 12px 15px;
    background-color: #f8f8f8;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
}

.no-match {
    margin-left: 20px;
    margin-top: 15px;
}

.back-btn-qa {
    margin-top: 15px;
    margin-left: 15px;
}

.blurred {
    filter: blur(5px);
    pointer-events: none;
}

.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.login-overlay p {
    color: white;
    font-size: 24px;
    text-align: center;
}

.blur-login {
    color: #ffffff;
    font-size: 30px;
    text-decoration: underline;
}