<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="../img/star.png">
        <title>UW Course Evaluation</title>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="../index.html">
                    <img src="../img/star.png" alt="site logo">
                    <span>UW Course Evaluation</span>
                </a>
            </div>
            <div class="search-container">
                <input type="search" placeholder="Search" class="search_bar">
                <img src="../img/search.png" alt="Search Icon">
            </div>
            <div class="login">
                <a href="login.html">
                    <img src="../img/login.png" alt="Login Icon">
                    <span>Login</span>
                </a>
            </div>
        </header>

        <main>
            <div class="title_ask">
                <a href="course_detail.html" class="back">Back</a>
                <h1>Q &amp; A Board</h1>
                <div class="search">
                    <input type="search" placeholder="Search for Questions" class="search_q">
                    <button type="button">Search</button>
                </div>
                <div class="ask">
                    <a href="ask.html" class="back">Ask a Question</a>
                </div>
            </div>

            <div class="question-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="question">
                                        <p class="card-title">Are there midterm and final exams?</p>
                                    </div>
                                    <div class="answer">
                                        <ul class="card-text">
                                            <li>Yes</li>
                                            <li>One Midterm and one final</li>
                                        </ul>
                                    </div><br>
                                    <div class="reply">
                                        <span class="material-symbols-outlined"><a href="answer.html">edit</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer_container">
                <p><a href="mailto:namelessl@uw.edu">nameless@uw.edu</a></p>
                <p><a href="tel:123-4567-8888">123&#8209;4567&#8209;8888</a></p>
                <p>&copy;2024 Nameless All Rights Reserved</p>
            </div>
        </footer>
    </body>
</html>